<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="announcement">
  <div class="backdrop">
  </div>
    {% for block in section.blocks %}
      {% if block.type == 'button' %}
        <div class="btn_container">
          <a href="{{block.settings.btn_link}}">
            <button 
              class="announcement_btn margin_x"
              role="button"
              style= "color:{{block.settings.btn_text_color}};background-color: {{block.settings.btn_background_color}};  border: 2px {{block.settings.btn_border_color}} {{block.settings.btn_border_style}};border-radius:{{block.settings.top_left}}px {{block.settings.top_right}}px {{block.settings.bottom_right}}px {{block.settings.bottom_left}}px"
                            >{{block.settings.btn_text}}</button>
                        </a>
                    </div>
            {% elsif block.type == 'textarea' %}
                <div class="bar_content margin_x" style="font-family:{{block.settings.textarea_font.family}}; font-size:{{block.settings.textarea_font_size}}px" >
                    <i class="{{block.settings.icon_alignment}}" style="font-size:{{block.settings.icon_font_size}}px;color:{{block.settings.icon_color}}"></i>
                    <div style="color:{{block.settings.bar_text_color}}">
                      {{block.settings.bar_content}}
                    </div>
                    <i class="{{block.settings.icon_alignment}}" style="font-size:{{block.settings.icon_font_size}}px;color:{{block.settings.icon_color}}"></i>
                </div>
            {% endif %}
        {% endfor %}
</div>


{% schema %}
    {
    "name": "Custom Announcement Bar",
    "settings":
                [
                  {
                    "type": "radio",
                    "id": "bar_style_aligment",
                    "label": "Style alignment",
                    "options": [
                      {
                        "value": "color",
                        "label": "Background Color"
                      },
                      {
                        "value": "embeded",
                        "label": "Embeded Examples"
                      },
                      {
                        "value": "picker",
                        "label": "Image Picker"
                      }
                    ],
                    "default": "color"
                  },
                  {
                    "type": "range",
                    "id": "bar_opacity_size",
                    "min": 0.0,
                    "max": 1,
                    "step": 0.1,
                    "unit": "px",
                    "label": "background opacity",
                    "default": 0
                  },
                  {
                    "type": "range",
                    "id": "bar_background_position",
                    "min": 0,
                    "max": 100,
                    "step": 4,
                    "unit": "%",
                    "label": "background Position",
                    "default": 50
                  },
                  {
                        "type": "color",
                        "id": "content_background_color",
                        "label": "Background Color",
                        "default": "#000000"
                  },
                  {
                        "type": "select",
                        "id": "Background_aligment",
                        "label": "background alignment",
                        "options": [
                          {
                            "value": "https://bit.ly/3viotXC",
                            "label": "background 1"
                          },
                          {
                            "value": "https://bit.ly/3vkXuec",
                            "label": "background 2"
                          },
                          {
                            "value": "https://bit.ly/3hjDOPC",
                            "label": "background 3"
                          },
                          {
                            "value": "https://bit.ly/3JV7v5Q",
                            "label": "background 4"
                          },
                          {
                            "value": "https://bit.ly/3pis2t4",
                            "label": "background 5"
                          },
                          {
                            "value": "https://bit.ly/3Hm7hCQ",
                            "label": "background 6"
                          },
                          {
                            "value": "https://bit.ly/3hkiPfi",
                            "label": "background 7"
                          },
                          {
                            "value": "https://bit.ly/3t6xWPe",
                            "label": "background 8"
                          },
                          {
                            "value": "https://bit.ly/36vGTtx",
                            "label": "background 9"
                          },
                          {
                            "value": "https://bit.ly/3Iqx5zk",
                            "label": "background 10"
                          },
                          {
                            "value": "https://bit.ly/3MeE0Or",
                            "label": "background 11"
                          },
                          {
                            "value": "https://bit.ly/3Hzaak9",
                            "label": "background 12"
                          },
                          {
                            "value": "https://bit.ly/3tgB8b8",
                            "label": "background 13"
                          },
                          {
                            "value": "https://bit.ly/3pgRWgU",
                            "label": "background 14"
                          },
                          {
                            "value": "https://bit.ly/355pGHg",
                            "label": "background 15"
                          },
                          {
                            "value": "https://bit.ly/3vzjHFx",
                            "label": "background 16"
                          },
                          {
                            "value": "https://bit.ly/3pe6ddZ",
                            "label": "background 17"
                          },
                          {
                            "value": "https://bit.ly/3pelZpy",
                            "label": "background 18"
                          },
                          {
                            "value": "https://bit.ly/3JV3BKe",
                            "label": "background 19"
                          },
                          {
                            "value": "https://bit.ly/3BNnNdT",
                            "label": "background 20"
                          },
                          {
                            "value": "https://bit.ly/3JQ2D1S",
                            "label": "background 21"
                          }
                        ],
                        "default": "https://bit.ly/3tgB8b8"
                  },                
                  {
                        "type": "image_picker",
                        "id": "bar_bgr_image",
                        "label": "Background image"
                  }     
                ],
    "blocks":
                [
                    {
                        "name":"Text",
                        "type":"textarea",
                        "settings":
                                    [
                                        {
                                            "type": "richtext",
                                            "id": "bar_content",
                                            "label": "Announcement Content",
                                            "default": "<p>WELCOME TO MY STORE</p>"
                                        },
                                        {
                                          "type": "color",
                                          "id": "bar_text_color",
                                          "label": "Content Color",
                                          "default": "#ffffff"
                                        },
                                        {
                                            "type": "font_picker",
                                            "id": "textarea_font",
                                            "label": "Heading font",
                                            "default": "helvetica_n4"
                                         },
                                        {
                                            "type": "number",
                                            "id": "textarea_font_size",
                                            "label": "Border Radius : Top Right",
                                            "default":  17
                                        },
                                        {
                                            "type": "header",
                                            "content": "Add Icons To your Announcement Bar"
                                         },
                                        {
                                            "type": "select",
                                            "id": "icon_alignment",
                                            "label": "Choose Icons",
                                            "options": [
                                                  {
                                                    "value": "",
                                                    "label": "None"
                                                  },
                                                  {
                                                    "value": "fa fa-first-order",
                                                    "label": "order"
                                                  },                
                                                  {
                                                    "value": "fa fa-anchor",
                                                    "label": "anchor"
                                                  },
                                                  {
                                                    "value": "fa fa-arrows",
                                                    "label": "arrows"
                                                  },
                                                  {
                                                    "value": "fa fa-asterisk",
                                                    "label": "asterisk"
                                                  },
                                                  {
                                                    "value": "fa fa-bell",
                                                    "label": "bell"
                                                  },
                                                  {
                                                    "value": "fa fa-certificate",
                                                    "label": "certificate"
                                                  },
                                                  {
                                                    "value": "fa fa-check-circle",
                                                    "label": "check circle"
                                                  },
                                                  {
                                                    "value": "fa fa-asl-interpreting",
                                                    "label": "interpreting"
                                                  },
                                                  {
                                                    "value": "fa fa-circle",
                                                    "label": "circle"
                                                  },
                                                  {
                                                    "value": "fa fa-cog",
                                                    "label": "cog"
                                                  },
                                                  {
                                                    "value": "fa fa-cutlery",
                                                    "label": "cutlery"
                                                  },
                                                  {
                                                    "value": "fa fa-flash",
                                                    "label": "flash"
                                                  },
                                                  {
                                                    "value": "fa fa-industry",
                                                    "label": "industry"
                                                  },
                                                  {
                                                    "value": "fa fa-key",
                                                    "label": "key"
                                                  },
                                                  {
                                                    "value": "fa fa-leaf",
                                                    "label": "leaf"
                                                  },
                                                  {
                                                    "value": "fa fa-mail-forward",
                                                    "label": "mail forward"
                                                  },
                                                  {
                                                    "value": "fa fa-map-pin",
                                                    "label": "pin"
                                                  },
                                                  {
                                                    "value": "fa fa-music",
                                                    "label": "music"
                                                  },
                                                  {
                                                    "value": "fa fa-plane",
                                                    "label": "plane"
                                                  },
                                                  {
                                                    "value": "fa fa-shopping-bag",
                                                    "label": "shopping bag"
                                                  },
                                                  {
                                                    "value": "fa fa-shopping-basket",
                                                    "label": "shopping basket"
                                                  },
                                                  {
                                                    "value": "fa fa-signing",
                                                    "label": "signing"
                                                  },
                                                  {
                                                    "value": "fa fa-snowflake-o",
                                                    "label": "snowflake"
                                                  },
                                                  {
                                                    "value": "fa fa-space-shuttle",
                                                    "label": "shuttle"
                                                  },
                                                  {
                                                    "value": "fa fa-star",
                                                    "label": "star"
                                                  },
                                                  {
                                                    "value": "fa fa-tag",
                                                    "label": "tag"
                                                  },
                                                  {
                                                    "value": "fa fa-birthday-cake",
                                                    "label": "birthday cake"
                                                  },
                                                  {
                                                    "value": "fa fa-gift",
                                                    "label": "gift"
                                                  },
                                                  {
                                                    "value": "fa fa-heart",
                                                    "label": "heart"
                                                  },
                                                  {
                                                    "value": "fa fa-phone",
                                                    "label": "phone"
                                                  },
                                                  {
                                                    "value": "fa fa-tree",
                                                    "label": "tree"
                                                  },
                                                  {
                                                    "value": "fa fa-trophy",
                                                    "label": "trophy"
                                                  },
                                                  {
                                                    "value": "fa fa-unlock-alt",
                                                    "label": "unlock"
                                                  }
                                                ],
                                                "default": ""
                                                },    
                                                {
                                                    "type": "range",
                                                    "id": "icon_font_size",
                                                    "min": 10,
                                                    "max": 100,
                                                    "step": 1,
                                                    "unit": "px",
                                                    "label": "Icon size",
                                                    "default":24
                                                },
                                                {
                                                    "type": "color",
                                                    "id": "icon_color",
                                                    "label": "Icon Color",
                                                    "default": "#ffffff"
                                                }
                                                  
                                              
                                    ]
                    },
                    {
                      "type": "button",
                      "name": "Button",
                        "settings":
                                  [
                                          {
                                              "type": "text",
                                              "id": "btn_text",
                                              "label": "Button Text",
                                              "default": "Sign Up"
                                          },
                                          {
                                              "type": "color",
                                              "id": "btn_text_color",
                                              "label": "Button Title",
                                              "default": "#ffffff"
                                          },
                                          {
                                              "type": "url",
                                              "id": "btn_link",
                                              "label": "Button link"
                                          },                                              
                                          {
                                              "type": "radio",
                                              "id": "btn_border_style",
                                              "label": "Botton Style",
                                              "options": [
                                              {
                                                  "value": "solid",
                                                  "label": "Solid"
                                              },
                                              {
                                                  "value": "dotted",
                                                  "label": "Dotted"
                                              }
                                              ],
                                              "default": "dotted"
                                          },
                                          {
                                              "type": "number",
                                              "id": "top_left",
                                              "label": "Border Radius : Top Left",
                                              "default": 20
                                          },
                                          {
                                              "type": "number",
                                              "id": "top_right",
                                              "label": "Border Radius : Top Right",
                                              "default": 0
                                          },
                                          {
                                              "type": "number",
                                              "id": "bottom_right",
                                              "label": "Border Radius : Buttom Right",
                                              "default": 20
                                          },
                                          {
                                              "type": "number",
                                              "id": "bottom_left",
                                              "label": "Border Radius : Bottom Left",
                                              "default": 0
                                          },
                                      
                                          {
                                              "type": "color",
                                              "id": "btn_border_color",
                                              "label": "Border Color",
                                              "default": "#7DB0C2"
                                          },
                                          {
                                              "type": "color",
                                              "id": "btn_background_color",
                                              "label": "Background Color",
                                              "default": "transparent"
                                          }

                                  ]
                    }
                  
                ],
    "presets":
                [
                    {
                        "name": "Custom Announcement Bar",
                        "category": "Custom",
                        "blocks":
                                [
                                        
                                        {
                                          "type":"textarea"
                                        },
                                        {
                                          "type": "button"
                                        }
                                ]
                    }
                ]
    }
{% endschema %}

{% style %}
    .announcement {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        {% if section.settings.bar_style_aligment == "color" %}
          background-color: {{section.settings.content_background_color}};
        {% elsif section.settings.bar_style_aligment == "embeded" %}
          background: url("{{section.settings.Background_aligment}}");
        {% elsif section.settings.bar_style_aligment == "picker" %}
          background: url("https:{{section.settings.bar_bgr_image | img_url: 'large'}}");
        {%- endif -%}
        background-position: 50% {{section.settings.bar_background_position}}%;
        background-repeat:no-repeat;
        background-size: cover;
        color: white; 
        font-family: Arial, sans;
        position:relative;
        padding: 7px 0;
    
        
    }
    .announcement p{
      margin:0
    }
    .bar_content {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index:2;
    }
    
    .bar_content i{
        margin:5px
    }
    .btn_container{
      z-index:2
    }
    .announcement_btn {
      border: none;
      color: white;
      overflow: hidden;
      width: 150px;
      height: 40px;
      color: white;
      cursor:pointer;
      margin: 0 10px;
    }
    .announcement_btn:hover{
      background:#38414aa3 !important;
      color:white
    }
    .margin_x{
      margin: 0 5px;
    }
    
    .backdrop{
      background:#38414a;
      width:100vw;
      position:absolute;
      top:0px;
      right:0p;
      left:0px;
      bottom:0px;
      z-index:2;
      opacity:{{section.settings.bar_opacity_size}} 
    }
    
    @media only screen and (max-width: 600px) {
        .bar_content {
         width:100%;
         font-size:13px;
        }
        .bar_content p{
            font-size:14.5px;
        }
        .announcement button{
            margin:5px !important
        }
      }
    {% endstyle %}

