<div class="announcement">
         <div>
            {{section.settings.bar_content}}
        </div>
        {% for block in section.blocks %}
            <button class="announcement_btn" role="button">{{block.btn-text}}</button>
          {% endfor %}
          

</div>



{% assign background_url =  "https://s3.amazonaws.com/lastsecondcoupon/img/bar_background/halloween04.png" %}


{% schema %}
    {
    "name": "Custom Announcement Bar",
    "settings":
                [
                    {
                        "type": "richtext",
                        "id": "bar_content",
                        "label": "Announcement Content",
                        "default": "<p>WELCOME TO MY STORE</p>"
                    },
                    {
                        "type": "color",
                        "id": "content_background_color",
                        "label": "Background Color",
                        "default": "#000000"
                    },
                    {
                        "type": "select",
                        "id": "Background_aligment",
                        "label": "background alignment",
                        "options": [
                          {
                            "value": "https://bit.ly/3BNnNdT",
                            "label": "Halloween"
                          },
                          {
                            "value": "https://bit.ly/3JQ2D1S",
                            "label": "Sales"
                          }
                        ],
                        "default": "https://bit.ly/3JQ2D1S"
                    }               
                ],
    "blocks":
                [
                    {
                        "name": "Button",
                        "type": "html",
                        "settings":
                                    [
                                            {
                                                "type": "text",
                                                "id": "btn_text",
                                                "label": "Button Text",
                                                "default": "Sign Up"
                                            },
                                            {
                                                "type": "radio",
                                                "id": "btn_border_style",
                                                "label": "Botton Style",
                                                "options": [
                                                {
                                                    "value": "solid",
                                                    "label": "Solid"
                                                },
                                                {
                                                    "value": "dotted",
                                                    "label": "Dotted"
                                                }
                                                ],
                                                "default": "solid"
                                            },
                                            {
                                                "type": "number",
                                                "id": "top_left",
                                                "label": "Border Radius : Top Left",
                                                "default": 0
                                            },
                                            {
                                                "type": "number",
                                                "id": "top_right",
                                                "label": "Border Radius : Top Right",
                                                "default": 0
                                            },
                                            {
                                                "type": "number",
                                                "id": "bottom_right",
                                                "label": "Border Radius : Buttom Right",
                                                "default": 0
                                            },
                                            {
                                                "type": "number",
                                                "id": "bottom_left",
                                                "label": "Border Radius : Bottom Left",
                                                "default": 0
                                            },
                                        
                                            {
                                                "type": "color",
                                                "id": "btn_border_color",
                                                "label": "Border Color",
                                                "default": "#F79D05"
                                            },
                                            {
                                                "type": "color",
                                                "id": "btn_background_color",
                                                "label": "Background Color",
                                                "default": "transparent"
                                            },
                                            {
                                                "type": "color",
                                                "id": "btn_hover_color",
                                                "label": "Hover Background Color",
                                                "default": "transparent"
                                            }

                                    ]
                    }
                ],
    "presets":
                [
                    {
                        "name": "Custom Announcement Bar",
                        "category": "Custom",
                        "blocks":
                                [
                                        {
                                        "type": "html"
                                        }
                                ]
                    }
                ]
    }
{% endschema %}

{% style %}
    .announcement {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: {{section.settings.content_background_color}};
        background: url("{{section.settings.Background_aligment}}");
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        color: white; 
        font-family: Arial, sans;
        font-size: 0.9em;
    }

    .announcement_btn {
        border: none;
        color: white;
        overflow: hidden;
        margin-left: 1.5rem;
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        background-color: {{section.settings.btn_background_color}};
        border: 2px {{section.settings.btn_border_style}} {{section.settings.btn_border_color}};
        color: white;
        cursor:pointer;
        border-radius:{{section.settings.top_left}}px {{section.settings.top_right}}px {{section.settings.bottom_right}}px {{section.settings.bottom_left}}px 
    }
    .announcement_btn:hover{
        background-color:{{section.settings.btn_hover_color}};
    }


    
      
   {% endstyle %}

