{%- liquid
 assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
 assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation

 if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
  assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
 endif

 assign offer = current_selling_plan_allocation | default: current_variant
-%}

{{ product.title }}
{{ offer.price | money }}

{% if offer.compare_at_price > offer.price %}
  <s>{{ offer.compare_at_price | money }}</s>
  <span>{% if offer.selling_plan %}Subscription{% else %}Sale{% endif %}</span>
{% endif %}

{% form 'product', product %}
  <input type="hidden" name="id" value="{{ current_variant.id }}">
  <input type="hidden" name="selling_plan" value="{{ current_selling_plan_allocation.selling_plan.id | default: '' }}">

  <fieldset>
    <legend>Product options</legend>

    {% for option in product.options_with_values %}
      <label>{{ option.name }}</label>

      <select>
        {% for value in option.values %}
          <option>{{ value }}</option>
        {% endfor %}
      </select>
    {% endfor %}
  </fieldset>

  <!-- Pass the product object as JSON so it can be used to update selling plan information using JavaScript -->
  <fieldset class="selling-plan-fieldset" data-product={{ product | json }}>
    <legend>Purchase options</legend>
    {% unless product.requires_selling_plan %}
    <input type="radio" name="purchase_option"> One-time purchase
    {% endunless %}

    {% for group in product.selling_plan_groups %}
      <input type="radio" name="purchase_option"> {{ group.name}}

      {% for option in group.options %}
        <label>{{ option.name }}</label>

        <select data-position="{{ option.position }}">
          {% for value in option.values %}
            <option>{{ value }}</option>
          {% endfor %}
        </select>
      {% endfor %}
    {% endfor %}
  </fieldset>






<input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="add_to_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
{% endform %}
