<section class="video-section">
    <div class="video-container">
        <div class="video-overlay"><span></span></div>
      
            <video id="video-desktop" autoplay loop muted poster="https://{{section.settings.poster_img | image_url}}">
              <source src="{{section.settings.video_link}}" type="video/mp4">
            </video>
      
      		<video id="video-mobile" autoplay loop muted poster="https://{{section.settings.poster_img_mobile | image_url}}">
              <source src="{{section.settings.video_link_mobile}}" type="video/mp4">
            </video>
      
     
    </div>

    <div class="video-content">
        <div class="text_container">
            <h2>{{section.settings.header_text}}</h2>
            <!-- this tag is like <p>content</p> -->
            {{section.settings.paragraph_text}}
            <a href="{{section.settings.btn_link}}">
                <button>{{section.settings.btn_text}}</button>
            </a>
        </div>
    </div>
</section>

<!-- ************************* CSS Section *********************** -->

{% style %}


	#video-mobile{
		display:none;
	}
	#video-desktop{
	  	display:block;
	}

.show-header{
  display:flex;

}
.hide-header{
  display:none;

}
.video-section {
    position: relative;
    width: 100%;
    height: {{section.settings.video_height}}px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    {% if section.settings.video_link == nil %}
      
    background:url("https://eu.vibram.com/on/demandware.static/-/Sites-VibramEU-Library/default/dwda073688/video-placeholder.png") 
    {% endif %}
  }
  
  .video-container {
    justify-content: center;
    align-items: center;
	height:100%;
    width: 100%;
  }
  .video-container video {
    object-fit: cover;
	height:100%;
    width: 100%;
   
  }
  .video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: {{section.settings.overlay-bg_color}};
    width: 100%;
    height: 100%;
    opacity: {{section.settings.overlay_size}};
  }

  .video-content {
    /* background-color: rgb(221, 92, 17); */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
  }
  .video-content h2 {
    margin: 0.5rem;
    font-family: Ivy Mode !important;
    font-style:{{section.settings.heading_font.style}};
    font-size: {{section.settings.heading_font_size}}px;
    color:{{section.settings.heading_color}};
    width: 100%;
    text-align: {{section.settings.content_alignement}};
  }
  .text_container {
    width: {{section.settings.text_block_size}}%;
    opacity: 0.8;
    margin: auto !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    {% if section.settings.reset_xy == true %}
    margin-left: {{section.settings.y_margin}}rem;
    margin-top: {{section.settings.x_margin}}rem; 
    {% endif %}
  }
  .video-content p {
    margin: 0.3rem;
    line-height: 1.5;
    font-size: {{section.settings.paragraph_font_size}}px;
    font-family: {{section.settings.paragraph_font.family}}, {{section.settings.paragraph_font.fallback_families }};
    font-style:{{section.settings.paragraph_font.style}};
    text-align:{{section.settings.content_alignement}};
    color:{{section.settings.paragraph_color}};
	width:100%;

  }
  .video-content a {
    text-decoration: none;
    /* background-color: bisque; */
    width: 100%;
    display: flex;
    margin: 1rem;
    justify-content:{{section.settings.content_alignement}};
  }
  .video-content button {
  display:{% if section.settings.show_btn == true %}block {% else %} none{% endif %};
    margin: 0.8rem 0;
    width: 170px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
    cursor: pointer;
    padding: 15px;
    line-height: normal;
    font-family: {{section.settings.btn_font.family}}, {{section.settings.btn_font.fallback_families }};
    font-style:{{section.settings.btn_font.style}};
    color:{{section.settings.btn_title_color}};
    border-radius:{{section.settings.btn_border_rdx}}px;
    background: {{section.settings.btn_bg_color}};
    border: 1px solid {{section.settings.btn_border-color}};
   
  }
  .video-content a :hover{
   background:#261e1459
  }

    /* ************************ Large Screen ******************* */
  @media only screen and (min-width: 1900px) {
    .video-container video {
      width: 100vw;
    }
  }


  /* ************************ Mobile Design ******************* */
  @media only screen and (max-width: 770px) {

	#video-mobile{
		display:block;
	}
	#video-desktop{
	  	display:none;
	}	
    .video-section {
      height: {{section.settings.video_height_mobile}}px;
    }
   
    .video-content h2 {
      font-size: {{section.settings.heading_font_size_mobile}}px;
      text-align:{{section.settings.content_alignement_mobile}}
    }
    .video-content p {
      line-height: 1.5;
      font-size: {{section.settings.paragraph_font_size_mobile}}px;
      text-align:{{section.settings.content_alignement_mobile}}

    }
    .video-content a{
    margin: 1.2rem;
    padding: 3px;
    justify-content:{{section.settings.content_alignement_mobile}};
  }
    .video-content button {
      width: 115px;
      font-size: 12px;
      padding: 8px;
      margin:0;


    }
    .text_container {
      width: 80%;
      margin: auto;
      margin-top: 90px;
     

    }
  }
  
{% endstyle %}

<!-- ************************** Schema *********************** -->

{% schema %}
{
   "name": "Hero Video",
   "settings": [
                        {
                          "type": "url",
                          "id": "video_link",
                          "label": "Video link On Desktop"
                        },
						{
                          "type": "url",
                          "id": "video_link_mobile",
                          "label": "Video link On Mobile"
                        },
                        {
                          "type": "image_picker",
                          "id": "poster_img",
                          "label": "Thumbnail Image On Desktop",
                          "info":"This helps When The Connection is Slow So it's good  to Show an Image before The Video loading"
                        },    
						{					
                          "type": "image_picker",
                          "id": "poster_img_mobile",
                          "label": "Thumbnail Image On Mobile",
                          "info":"This helps When The Connection is Slow So it's good  to Show an Image before The Video loading"
                        }, 
                        {
                          "type": "color_background",
                          "id": "overlay-bg_color",
                          "label": "Overlay Background Color",
                          "default": "linear-gradient(#ffffff, #000000)"
                        },
                        {
                          "type": "range",
                          "id": "video_height",
                          "min": 0,
                          "max": 1500,
                          "step": 15,
                          "unit": "px",
                          "label": "Section Height On Desktop",
                          "default": 750
                        },
                        {
                          "type": "range",
                          "id": "video_height_mobile",
                          "min": 100,
                          "max": 1500,
                          "step": 20,
                          "unit": "px",
                          "label": "Section Height On Mobile",
                          "default": 400
                        },
                        {
                          "type": "range",
                          "id": "overlay_size",
                          "min": 0,
                          "max": 1,
                          "step": 0.1,
                          "unit": "px",
                          "label": "Overlay Size",
                          "default": 0
                        },
                        {
                            "type": "range",
                            "id": "text_block_size",
                            "min": 10,
                            "max": 100,
                            "step": 5,
                            "unit": "%",
                            "label": "Text Block Width",
                            "default": 50
                        },
                        {
                          "type": "text",
                          "id": "header_text",
                          "label": "Heading",
                          "default": "Fresh finds"
                        },
                        {
                          "type": "richtext",
                          "id": "paragraph_text",
                          "label": "Paragraph",
                          "default":"<p>up your collection for spring with these unique pieces! Shop the latest styles from a variety of designers here at Local Eclectic.</p>"
                        },
                        {
                          "type": "checkbox",
                          "id": "show_btn",
                          "label": "Show Button",
                          "default": true
                        },
                        {
                          "type": "url",
                          "id": "btn_link",
                          "label": "Button link"
                        },
                        {
                          "type": "text",
                          "id": "btn_text",
                          "label": "Button Title",
                          "default": "Shop Now"
                        },
                        {
                          "type": "checkbox",
                          "id": "reset_xy",
                          "label": "Use Margins",
                          "info":"you can use margins X and Y to align the text content any place you want inside the video ",
                          "default": false
                        },   
                        {
                          "type": "range",
                          "id": "x_margin",
                          "min": 0,
                          "max": 90,
                          "step": 1,
                          "unit": "px",
                          "label": "Vertical Margin",
                          "default": 27
                        },
                        {
                          "type": "range",
                          "id": "y_margin",
                          "min": 0,
                          "max": 90,
                          "step": 1,
                          "unit": "px",
                          "label": "Horizontal Margin",
                          "default": 45
                        }, 
                        {
                          "type": "select",
                          "id": "content_alignement",
                          "label": "Align Text Block On Desktop",
                          "options": [
                            {
                              "value": "left",
                              "label": "Left"
                            },
                            {
                              "value": "center",
                              "label": "Center"
                            },
                            {
                              "value": "end",
                              "label": "Right"
                            }
                          ],
                          "default": "center"
                        },
                        {
                          "type": "select",
                          "id": "content_alignement_mobile",
                          "label": "Align Text Block On Mobile",
                          "options": [
                            {
                              "value": "left",
                              "label": "Left"
                            },
                            {
                              "value": "center",
                              "label": "Center"
                            },
                            {
                              "value": "end",
                              "label": "Right"
                            }
                          ],
                          "default": "center"
                        },
                        {
                          "type": "header",
                          "content": "Fonts And Colors"
                        },
                  
                        {
                          "type": "range",
                          "id": "heading_font_size",
                          "min": 8,
                          "max": 100,
                          "step": 1,
                          "unit": "px",
                          "label": "Heading Size On Desktop",
                          "default": 50
                        },
						{
                          "type": "range",
                          "id": "heading_font_size_mobile",
                          "min": 8,
                          "max": 100,
                          "step": 1,
                          "unit": "px",
                          "label": "Heading Size On Mobile",
                          "default": 32
                        },
                        {
                          "type": "color",
                          "id": "heading_color",
                          "label": "Heading Color",
                          "default": "#FFFFFF"
                        },                        
                        {
                          "type": "font_picker",
                          "id": "paragraph_font",
                          "label": "Paragraph font",
                          "default": "helvetica_n4"
                        },
                        {
                          "type": "range",
                          "id": "paragraph_font_size",
                          "min": 8,
                          "max": 100,
                          "step": 1,
                          "unit": "px",
                          "label": "Paragraph Size On Desktop",
                          "default": 20
                        },
						{
                          "type": "range",
                          "id": "paragraph_font_size_mobile",
                          "min": 8,
                          "max": 100,
                          "step": 1,
                          "unit": "px",
                          "label": "Paragraph Size On Mobile",
                          "default": 15
                        },
                        {
                          "type": "color",
                          "id": "paragraph_color",
                          "label": "Paragraph Color",
                          "default": "#FFFFFF"
                        },
                        {
                          "type": "font_picker",
                          "id": "btn_font",
                          "label": "Button font",
                          "default": "helvetica_n4"
                        },
                        {
                          "type": "color",
                          "id": "btn_title_color",
                          "label": "Button Title Color",
                          "default": "#FFFFFF"
                        },
                        {
                          "type": "color",
                          "id": "btn_border-color",
                          "label": "Button Border Color",
                          "default": "#FFFFFF"
                        },
                        {
                          "type": "color_background",
                          "id": "btn_bg_color",
                          "label": "Button Background",
                          "default": "transparent"
                        },
                        {
                          "type": "number",
                          "id": "btn_border_rdx",
                          "label": "Button Radius",
                          "default": 20
                        }

                        
                        
           
     
   ],
   "presets": [
     {
       "name": "Hero Video"
     }
   ]
}
{% endschema %}





<!-- ************ script *********** -->

      <script defer>
        
        
             

        
        
         var styles = `
                   
                    .weglot-options{
                   	 color:white;
                    }
					.navlink{
					  color:white;

					}

					header a{
						color:white
					}
                    weglot-selector__es::after{
                   	 content:"";
                    }
                  #shopify-section-header{
                    margin:0;
                    padding:0;
					position: absolute;
    				width: 100vw;
                  }
                  header{
                   position: unset !important;
                    
                  }
                  .header__mobile{
				   position: relative;
   				   z-index: 5;
    			   background: transparent;
				  }
				  .header__desktop__bar__l,.header__desktop__bar__r{
					
					z-index:5;

				 }

                  .hamburger__lines span{
                    background-color:white
                  }

                .lazyloaded.logo__img--color{
               	 opacity:0
                
				}
				.logo__img--transparent{
				opacity:1
                    

				}
              .header__dropdown{
              	top:85px
              }
              .layout--grid .grid__heading-holder{
              	z-index:1
              }
              .header__cart__status{
              	margin:8px
              }

`
          var styleSheet = document.createElement("style")
          styleSheet.innerText = styles
          document.head.appendChild(styleSheet)
                
     	  function checkIfIncluded(file) {
              var links = document.getElementsByTagName("link");
              for(var i = 0; i < links.length; i++) {
                  if (links[i].href.substr(-file.length) == file)
                      return true;
              }

              var scripts = document.getElementsByTagName("script");
              for(var i = 0; i < scripts.length; i++) {
                  if (scripts[i].src.substr(-file.length) == file)
                      return true;
              }

              return false;
			}
          
                const setHeaderTrsp = ()=>{
                
          
                 document.head.appendChild(styleSheet);
                                
                                var nodes = document.querySelectorAll('.navlink');
                                for(var i=0; i<nodes.length; i++) {
                                   nodes[i].style.color= 'white'
                                }
                                
                                var nodes = document.querySelectorAll('header a');
                                for(var i=0; i<nodes.length; i++) {
                                   nodes[i].style.color= 'white'
                                }
                                const languageslist = document.querySelector(".weglot-options");
                                languageslist.style.color= 'white';
                
                }
               
        
        		const unsetHeaderTrsp = () => {
               
                   
                     document.head.removeChild(styleSheet);
                  
                
                                var nodes = document.querySelectorAll('.navlink');
                                for(var i=0; i<nodes.length; i++) {
                                   nodes[i].style.color= 'black'
                                }
                                
                                var nodes = document.querySelectorAll('header a');
                                for(var i=0; i<nodes.length; i++) {
                                   nodes[i].style.color= 'black'
                                }
                                const languageslist = document.querySelector(".weglot-options");
                                languageslist.style.color= 'black';
                                
                  
                } 
          
        

                const header = document.querySelector('header');
                window.addEventListener('scroll',()=>{
                              if(window.pageYOffset > 0)
                              {
                                if(checkIfIncluded("styleSheet.css")=== true){
                              	 unsetHeaderTrsp();
                                }
                              
                              }
                              else
                              {
                               
                                setHeaderTrsp();
                               
                              }
                  })
                  
                  
                   const menu_items = document.querySelectorAll(".menu__item");
        
                      for(let i = 0; i < menu_items.length; i++) {
                                          
                             
                          menu_items[i].addEventListener("mouseenter",()=>
                                  {
                                   unsetHeaderTrsp();
                                  })
                                  
                         
                      }
                      
                      const videohover = document.querySelector(".video-content");
                      videohover.addEventListener("mouseenter",()=>
                                  {
                                   
                                   setHeaderTrsp();
        
                                  })

        
                 	document.querySelector(".hamburger__lines").addEventListener("click",()=>{
                                                                               
                     unsetHeaderTrsp();

        			})
                    
                    document.querySelector("button.drawer--visible").addEventListener("click",()=>{
                                                                               
                     setHeaderTrsp();
 
        			})
                    
                  
                     

     </script>



            {% style %}
video::-webkit-media-controls {
  display:none !important;
}
             .drawer__menu {
    			padding-top: 10px;
				}
            {% endstyle %}


